/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: wheat;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color:lightgoldenrodyellow;
    color: black;
    padding: 20px;
  } 
  
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color:black;
    text-decoration: none;
  }
  .navul {
    position: absolute;
    top: 15px;
    right:5px;
    text-align: center;
  }
  
  main {
    padding: 20px;
    height: 550px;
    
  }
  .dropbtn {
    background-color:black;
    border-radius: 15px;
    width: 60%;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:lightcoral;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    text-align: center;
    left: 15%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 60%;
    left: 20%;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  .border{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .steps{
    text-align: center;
  }
  .caption {
    font-size: 15px;
    margin-top: 5px;
  }
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: auto;
    background-color:black;
    color: white;
    padding: 20px;
    text-align: left;
  }
footer ul{
  color: black;
  position: absolute;
  bottom: 17px;
  right: 16px;
}
.image{
  float: right;
padding: 5px;
}
  