/* Reset default styles */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, sans-serif;
    }
    
    header {
      background-color:lightskyblue;
      color:black;
      padding: 20px;
    }
    
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    nav ul {
      list-style: none;
    }
    
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
    
    nav ul li a {
      color: black;
      text-decoration: none;
    }
    .navul {
      position: absolute;
      top: 15px;
      right:5px;
      text-align: center;
      
    }
    
    main {
      background-color:lightblue;
      padding: 20px;
      height: 1000px;
    }
    
    .registration {
      max-width: 600px;
      padding: 20px;
      border-radius: 4px;
      font-size: 20px;
    }
    
    .registration h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    form div {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
    }
    
    label {
      display: block;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 50px;
    }
    
    button {
      display: block;
      width:60%;
      padding: 15px;
      margin: 0 auto;
      background-color: #333;
    }
    .upload{
      width: 60%;
    }
    footer {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      margin-bottom: auto;
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: left;
    }
  footer ul{
    position: absolute;
    bottom: 17px;
    right: 16px;
  }
  .image{
    float: right;
  padding: 5px;
  }
    