/* Reset default styles */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, sans-serif;
      color: white;
    }
    
    header {
        background-color:cadetblue;
      padding: 20px;
    }
    
    h1 {
      font-size: 35px;
      margin-bottom: 10px;
      color:black;
    }
    
    nav ul {
      list-style: none;
      text-align: right;
    }
    
    nav ul li {
      
      display: inline;
      margin-right: 20px;
    }
    
    nav ul li a {
      color:black;
      text-decoration: none;
    }
    .navul {
      position: absolute;
      top: 15px;
      left: 70%;
      font-size: 20px;
    }
    .centered {
      position: absolute;
     top: 90px;
     left: 55%;
      transform: translate(-50%, -50%);
    }
        .search input[type=text]{
          width:500px;
          height:35px;
          border-radius: 10px;
          border: none;
      }
           
      .search{
          float:right;
          margin: 50px;
      }
      .dropbtn {
        background-color: white;
        border-radius: 15px;
        width: 40px;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        top: 30%;
        left: 5px;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color:lightblue;
      }
      
      #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
      }
      
      #myInput:focus {outline: 3px solid #ddd;}
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        width: 20%;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
           
    hr{
      text-align: center;
    }
    main {
      padding: 20px;
    }
    .profile{
      background-color: lightblue;
      text-align: center;
  padding: 10px;
    }
    .profile{
      top: 30px;
        left: 10px;
    }
    figure {
      text-align: center;
  }
  
  figcaption {
      font-style: italic;
      color: black;
  }
    .dashboard-container {
      width: 500px;
      top: 35%;
      padding: 20px;
      color: black;
      float: right;
      right: 50%;
    }
   
   
    .profile-details form {
      list-style: none;
    }
    
    .form-group {
      margin-bottom: 15px;
      
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-group input {
      width: 100%;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
    
    .profile-details button[type="button"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 14px;
    }
    
    .profile-details button[type="button"]:hover {
      background-color: #45a049;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      position: relative;
    font-size: 20px;
    left: 50px;
    
    
    }
  
    .grid-item {
      text-align: center;
      border: 5px solid white;
      border-radius: 10px;
      background-color: white;
    }
  
    .caption {
      text-align: left;
      color: black;
      font-size: 14px;
      margin-top: 5px;
      
    }